{% extends "base.html" %}
{% block content %}
 <table style="width: 100%; border-spacing: 0;">
    <!-- Header -->
    <caption style="background-color: white; padding: 24px 32px;">
      <img
        src='https://i.ibb.co/TWyXT7s/logo.png' />
    </caption>
    <!-- Header -->

    <tbody style="background-color: #F5F5F5; ">
      <tr>
        <td style="padding: 32px 32px 6px 32px;">
          <h3 style=" font-size: 22px; font-style: normal; font-weight: 700; margin: 0;">Приветствуем
            вас на портале 21YARD!
          </h3>
          </td>
      </tr>
      <tr>
        <td style="padding: 0 32px 0 32px;">
          <span style=" font-size: 16px; font-weight: 400;">
              Пожалуйста, перейдите по ссылке, чтобы подтвердить аккаунт и начать пользоваться всеми возможностями сервиса
          </span>
          </td>
      </tr>
      <tr>
        <td style="padding: 16px 32px 16px 32px;">
          <div style=" height: 1px; background: #959597;"></div>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 32px 16px 32px;">
          <span style=" font-size: 15px; font-weight: 700;">Персональная ссылка для регистрации:
            <br />
            <a href="{{ data['link'] }}" style="color:#38AEFD; ">{{ data['link'] }}</a>
          </span>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 32px 16px 32px;">
          <p style=" font-size: 15px; font-weight: 400; margin: 0;">С уважением,<br />служба поддержки портала 21YARD<br /><br />
            Сообщение сгенерировано автоматически. Пожалуйста, не отвечайте на это письмо. Для связи со службой поддержки используйте контакты,<br /> указанные ниже.
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 32px 32px 32px;">
          <span style=" font-size: 13px; font-weight: 400; color: #AAABAD;">Если вы получили это
            письмо по ошибке, пожалуйста, проигнорируйте его.</span>
        </td>
      </tr>
    </tbody>
   <tfoot style="background-color: #404247; width: 100%">
        <tr>
          <th style="padding: 24px 32px 16px 32px;">
            <a href="https://t.me/zakazov_yard?utm_source=mail_avto" target="_blank" style="margin-right: 12px; text-decoration: none;">
              <img src='https://i.ibb.co/wBTbqKd/telegram.png' />
            </a>
            <a href="https://www.youtube.com/channel/UC6ZUOLajKj0rs0gunat8RNw" target="_blank"
              style="margin-right: 12px; text-decoration: none;">
              <img src='https://i.ibb.co/yhLqQK2/youtube.png' />
            </a>
            <a href="http://wa.me/+79215851520" target="_blank" style=" text-decoration: none;">
              <img src="https://i.ibb.co/L6hHPcL/whatsapp.png" />
            </a>
          </th>
        </tr>
        <tr>
          <td style="padding:0 32px 16px 32px">
            <table style="font-size: 13px;  font-style: normal; line-height: 16px; border-spacing: 0; ">
              <thead>
                <tr style=" color:#AAABAD;">
                  <td style="padding: 0 16px 8px 0;"><b>Контактные данные</b></td>
                  <td style="padding: 0 0 8px 0;"><b>Юридический адрес</b></td>
                </tr>
              </thead>
                <tbody>
                  <tr style=" color:white; vertical-align: bottom; ">
                    <td style="padding: 0 16px 4px 0;  " valign="top">
                      <img style="height: 16px;" src='https://i.ibb.co/VY4cvRH/phone.png' />
                      <a style="color:white !important;   text-decoration: none; vertical-align: top;"
                        href="tel:+78123895512">+7 (812) 389-55-12</a>
                    </td>
                    <td style="padding: 0 0 4px 0; " valign="top">
                      <span style="vertical-align: top;">194021, Санкт-Петербург, ул. Шателена, д. 9, лит. А, пом.
                        2-Н</span>
                    </td>
                  </tr>
                  <tr style=" color:white; vertical-align: bottom;">
                    <td style="padding: 0 16px 0 0; color: white !important; " valign="top">
                      <img style="height: 16px;" src='https://i.ibb.co/HpXJHrV/email.png' />
                      <a style="color:white !important;  text-decoration: none; vertical-align: top;"
                        href="mailto:info@21yard.com">info@21yard.com</a>
                    </td>
                    <td style="padding: 0; " valign="top">
                      <span style="vertical-align: top;">197022, Санкт-Петербург, пр-кт Медиков д. 3А офис 218</span>
                    </td>
                  </tr>
                </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 0px 32px 24px 32px; color:#AAABAD; font-size: 11px; ">
            21Yard ® 2024 ООО "21ГРУПП", ИНН <a style="color:#AAABAD !important">7814595568</a>, ОГРН <a
              style="color:#AAABAD !important">1137847482486</a>
          </td>
        </tr>
  </tfoot>
</table>


{% endblock %}
